<div class="pa">
  <ul *ngIf="showList&&showList.length>0">
    <li *ngFor="let item of showList;let index = index;">
      <a href="javascript:;" [ngClass]="{'active':item===currentLesson}">
        {{item.initIndex}}</a>
    </li>
  </ul>
  <div class="more">
    <a href="javascript:;" *ngIf="list&&list.length>10" (click)="setMoreList()">更多</a>
    <div class="more-lesson">
      <ul>
        <li *ngFor="let item of moreList">
          <a href="javascript:;" (click)="changeLesson(item)">{{item.start+'-'+item.end}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
